/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/************************************************************* 
  GENERAL STYLES
*************************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/mariposas.jpg");
  background-size: contain;
  overflow: auto;
  color: #423c57;
}

/************************************************************* 
  Mobile SCREEN
*************************************************************/
/* Header */
.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .textWraper {
  background: rgba( 220, 206, 240, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header .textWraper .Evento {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
}

.header .textWraper .Evento::before,
.header .textWraper .Evento::after {
  display: inline-block;
  content: "";
  background-color: #423c57;
  height: 2.5px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 0.75rem;
}

.header .textWraper .Nombre {
  font-family: 'Fredericka the Great', cursive;
  font-size: 4rem;
}

.header .textWraper .cuentaRegresiva {
  font-family: 'Fredericka the Great', cursive;
  font-size: 2.25rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header .textWraper .cuentaRegresiva div {
  text-align: center;
  font-size: 1.25rem;
}

.header .textWraper .cuentaRegresiva div span {
  font-size: 2rem;
}

/* Main */
.main {
  width: 100%;
}

/* Sección de la frase */
.main .frase {
  width: 100%;
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main .frase .frase__imagen {
  display: block;
  width: 90%;
  height: auto;
}

.main .frase .frase__texto {
  background: rgba( 220, 206, 240, 0.2 );
  width: 90%;
  height: 7.5rem;
  padding: 0.25rem 1rem;
  font-family: 'Mulish', sans-serif;
  font-size: 1.15rem;
  text-align: justify;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 2px solid rgba( 255, 255, 255, 0.18 );
}

/* Sección del lugar y fecha */
.main .fechaLugar {
  width: 100%;
  padding: 1rem 0;
}

.main .fechaLugar h1 {
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
}

.main .fechaLugar .cards .card {
  background: rgba( 220, 206, 240, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  width: 90%;
  height: 36rem;
  margin: 1rem auto;
  border-radius: 10px;
}

.main .fechaLugar .cards .card h2 {
  text-align: center;
  margin: 1rem 0;
  padding-top: 1rem;
}

.main .fechaLugar .cards .card img {
  display: block;
  width: 90%;
  height: 9rem;
  margin: 0 auto 1rem;
  object-fit: fill;
  border: 1px solid #423c57;
  border-radius: 10px;
}

.main .fechaLugar .cards .card p {
  width: 90%;
  margin: 0 auto 0.75rem;
}

.main .fechaLugar .cards .card .nombreLugar {
  text-align: center;
  font-weight: bold;
}

.main .fechaLugar .cards .card p span {
  font-weight: bold;
}

.main .fechaLugar .cards .card iframe {
  display: block;
  width: 90%;
  height: 11rem;
  margin: 0 auto;
  border: 1px solid #423c57;
  border-radius: 10px;
}

/* Sección de fotos */
.main .fotos {
  width: 100%;
  padding-bottom: 2rem;
}

.main .fotos h2 {
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.main .fotos .container-slider {
  width: 90%;
  height: 20rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.main .fotos .slider {
  display: flex;
  width: 600%; /* Depende del número de imágenes x * 100% */
  height: 100%;
  margin-left: -100%;  /* Ayuda a enfocar la segunda imagen que en realidad es la primera */
}

.main .fotos .slider__section {
  width: 100%;
}

.main .fotos .slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main .fotos .slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  font-weight: bold;
  display: grid;
  place-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.main .fotos .slider__btn:hover {
  background-color: #fff;
}

.main .fotos .slider__btn--left {
  left: 10px;
}

.main .fotos .slider__btn--right {
  right: 10px;
}

/* Sección de formulario */
.main .confirmar {
  width: 100%;
  height: 100vh;
}

.main .confirmar h2 {
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.main .confirmar p {
  width: 90%;
  margin: 0 auto 1rem;
  text-align: center;
}

.main .confirmar form {
  background: rgba( 220, 206, 240, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  width: 90%;
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.main .confirmar form label {
  display: block;
  width: 90%;
  margin: 0.75rem auto;
}

.main .confirmar form p {
  display: inline-block;
  width: 50%;
}

.main .confirmar form input,
.main .confirmar form textarea {
  background-color: transparent;
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
  outline: none;
  border: 0;
  border-bottom: 2px;
  border-style: solid;
  border-color: #423c57;
}

.main .confirmar form textarea {
  height: 10rem;
  resize: none;
}

.main .confirmar form .enviar {
  display: block;
  margin: 1.5rem auto 0;
  padding: 0.25rem 0.5rem;
  outline: none;
  background-color: rgb( 220, 206, 240);
  border: 1px solid #423c57;
  color: #423c57;
  border-radius: 10px;
  font-size: 1.1rem;
  transition: 0.3s;
}

.main .confirmar form .enviar:hover {
  background-color: #423c57;
  color: rgb( 220, 206, 240);
}

::placeholder {
  color: #423c57;
}

/* Sección contacto */
.main .contacto h2 {
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  margin: 0 0 1rem;
  padding-top: 1rem;
}

.main .contacto .contactos__Wrapper {
  width: 90%;
  margin: 1rem auto;
  padding-bottom: 1rem;
}

.main .contacto .contactos__Wrapper a {
  display: flex;
  align-items: center;
  width: 100%;
  color: #423c57;
  margin: 1rem 0;
  text-decoration: none;
}

.main .contacto .contactos__Wrapper a i {
  font-size: 2rem;
  margin-right: 1rem;
}

.main .contacto .contactos__Wrapper a .llamada {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}


/************************************************************* 
  Tablet SCREEN
*************************************************************/
@media screen and (min-width: 768px) {
  
}

/************************************************************* 
  DESKTOP SCREEN
*************************************************************/
@media screen and (min-width: 1000px) {
  /* Header */
  .header .textWraper {
    width: 40%;
  }

  .header .textWraper .Evento {
    font-size: 4.5rem;
  }

  .header .textWraper .Nombre {
    font-size: 4.25rem;
  }

  .header .textWraper .cuentaRegresiva {
    font-size: 3rem;
  }

  .header .textWraper .cuentaRegresiva div {
    font-size: 2.5rem;
  }
  
  .header .textWraper .cuentaRegresiva div span {
    font-size: 3rem;
  }

  /* Sección de la frase */
  .main .frase {
    height: 35rem;
    display: flex;
    flex-direction: row;
  }

  .main .frase .frase__imagen {
    width: 50%;
    height: auto;
  }

  .main .frase .frase__texto {
    width: 45%;
    height: 9rem;
    font-size: 1.75rem;
  }

  /* Sección del lugar y fecha */
  .main .fechaLugar .cards {
    display: flex;
    justify-content: space-around;
  }

  .main .fechaLugar .cards .card {
    width: 35%;
    height: 37.5rem;
  }

  .main .fechaLugar .cards .card p {
    width: 80%;
  }

  .main .fechaLugar .cards .card img {
    width: 75%;
    height: 11rem;
    object-fit: fill;
  }
  
  .main .fechaLugar .cards .card iframe {
    width: 80%;
    height: 11rem;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 10px;
  }

  /* Sección de fotos */
  .main .fotos .container-slider {
    width: 50%;
    height: 30rem;
  }

  /* Sección de formulario */
  .main .confirmar form label {
    margin: 0.5rem auto;
  }

  .main .confirmar form {
    width: 30%;
  }

  /* Sección Contacto */
  .main .contacto .contactos__Wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  
  .main .contacto .contactos__Wrapper a {
    width: auto;
    font-size: 1.25rem;
  }
}