/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/************************************************************* 
  GENERAL STYLES
*************************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/mariposas.jpg");
  background-size: contain;
  overflow: auto;
}

/************************************************************* 
  Mobile SCREEN
*************************************************************/
/* Header */
.header {
  background-color: #00ffff66; /* Quitar al final */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .textWraper {
  background-color: #0000ff66; /* Quitar al final */
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header .textWraper .Evento {
  background-color: #ffffff66; /* Quitar al final */
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
}

.header .textWraper .Evento::before,
.header .textWraper .Evento::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 2.5px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 0.75rem;
}

.header .textWraper .Nombre {
  /* font-family: 'Mulish', sans-serif; */
  /* font-family: 'Libre Baskerville', serif; */
  font-family: 'Fredericka the Great', cursive;
  /* font-weight: bold; */
  font-size: 4rem;
}

.header .textWraper .cuentaRegresiva {
  background-color: slateblue;/* quitar al final */
  /* font-family: 'Mulish', sans-serif; */
  /* font-family: 'Libre Baskerville', serif; */
  font-family: 'Fredericka the Great', cursive;
  font-size: 2.25rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header .textWraper .cuentaRegresiva div {
  background-color: gray;/* Quitar al final */
  text-align: center;
  font-size: 1.25rem;
}

.header .textWraper .cuentaRegresiva div span {
  font-size: 2rem;
}

/* Main */
.main {
  background-color: #0dd14e66; /* Quitar al final */
  width: 100%;
}

/* Sección de la frase */
.main .frase {
  width: 100%;
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main .frase .frase__imagen {
  background-color: slateblue;  /* Quitar al final */
  display: block;
  width: 90%;
  height: auto;
}

.main .frase .frase__texto {
  background: rgba( 220, 206, 240, 0.2 );
  width: 90%;
  height: 7.5rem;
  padding: 0.25rem 1rem;
  font-family: 'Mulish', sans-serif;
  /* font-family: 'Libre Baskerville', serif; */
  font-size: 1.15rem;
  text-align: justify;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/************************************************************* 
  Tablet SCREEN
*************************************************************/
@media screen and (min-width: 768px) {
  
}

/************************************************************* 
  DESKTOP SCREEN
*************************************************************/
@media screen and (min-width: 1000px) {
  /* Header */
  .header .textWraper {
    width: 40%;
  }

  .header .textWraper .Evento {
    font-size: 4.5rem;
  }

  .header .textWraper .Nombre {
    font-size: 4.25rem;
  }

  .header .textWraper .cuentaRegresiva {
    font-size: 3rem;
  }

  .header .textWraper .cuentaRegresiva div {
    font-size: 2.5rem;
  }
  
  .header .textWraper .cuentaRegresiva div span {
    font-size: 3rem;
  }

  /* Sección de la frase */
  .main .frase {
    height: 35rem;
    display: flex;
    flex-direction: row;
  }

  .main .frase .frase__imagen {
    width: 50%;
    height: auto;
  }

  .main .frase .frase__texto {
    width: 45%;
    height: 9rem;
    font-size: 1.75rem;
  }
}